<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"></link>
	<link rel="shortcut icon" href="./images/fav.ico">
	<link rel="stylesheet" href="./css/main.css"></link>
	<link rel="stylesheet" href="./css/index.css"></link>
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
		<!-- Logo -->
		<a class="navbar-brand" href="#">WEconnect</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- Links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar" align="">
			<ul class="navbar-nav navbar-left">
				<li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="./register.html">Register Business</a></li>
			</ul>
			<ul class="navbar-nav navbar-right">
						<!-- Links Use this when user signed in
				<li class="nav-item"><a class="nav-link" href="./signin.html"><span class="fa fa-user-circle"></span> Sign In</a></li> -->
				<li class="nav-item"><a class="nav-link" href="./signup.html"><span class="fa fa-user-plus"></span> Sign Up</a></li>
				<li class="nav-item"><a class="nav-link" href="./signin.html">Sign In</a></li>
			</ul>
			<ul class="navbar-nav">
			</ul>
		</div>
	</nav>

	<section id="catch-intro">
			<div class="intro text-center">
				<h2 class="intro-heading">Find and connect with businesses</h2>
				<a class="btn intro-btn btn-primary" href="./register.html">Register a Business</a>
			</div>
	</section>

	<!-- Search for a business -->
	<section id="business-search" class="make-sticky">
		<div class="container-fluid">
			<div class="search-bus">
				<form class="grid">
					<div class="form-group form-inline">
						<select class="form-control" id="sel1">
						<option>Categories ---</option>
						<option>Technology</option>
						<option>Fashion</option>
						<option>Consumer Goods</option>
						<option>Entertainment</option>
					</select>
						<select class="form-control" id="sel1">
						<option>Location ---</option>
						<option>Nigeria</option>
						<option>Uganda</option>
						<option>Kenya</option>
						<option>Ghana</option>
					</select>
					</div>
					<div class="form-group  form-inline" align="center" >
						<input class="form-control search-input" type="text" placeholder="Find a business">
						<input class="btn btn-primary btn-submit" type="submit" value="Search">
					</div>
				</form>
			</div>

		</div>
	</section>

	<!-- Business Listing -->
	<section id="business-list">
		<div class="container-fluid">
			<div class="disp-business grid">

				<a href="./profile.html" class="remove-link-style">

					<div class="business-card box-effect">
						<div class="business-logo">
							<img class="bus-logo" src="https://via.placeholder.com/80x80" alt="logo" />
						</div>
						<div class="business-body">
							<span class="business-name">Business Name</span><br>
							<div class="user-rating">
								<span class="heading">User Rating</span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
								<p class="rating-report">3.1 average based on 200 reviews.</p>
							</div>
						</div>
					</div>

				</a>
				<a href="./profile.html" class="remove-link-style">

					<div class="business-card box-effect">
						<div class="business-logo">
							<img class="bus-logo" src="https://via.placeholder.com/80x80" alt="logo" />
						</div>
						<div class="business-body">
							<span class="business-name">Business Name</span><br>
							<div class="user-rating">
								<span class="heading">User Rating</span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
								<p class="rating-report">3.1 average based on 200 reviews.</p>
							</div>
						</div>
					</div>

				</a>
				<a href="./profile.html" class="remove-link-style">

					<div class="business-card box-effect">
						<div class="business-logo">
							<img class="bus-logo" src="https://via.placeholder.com/80x80" alt="logo" />
						</div>
						<div class="business-body">
							<span class="business-name">Business Name</span><br>
							<div class="user-rating">
								<span class="heading">User Rating</span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
								<p class="rating-report">3.1 average based on 200 reviews.</p>
							</div>
						</div>
					</div>

				</a>
				<a href="./profile.html" class="remove-link-style">

					<div class="business-card box-effect">
						<div class="business-logo">
							<img class="bus-logo" src="https://via.placeholder.com/80x80" alt="logo" />
						</div>
						<div class="business-body">
							<span class="business-name">Business Name</span><br>
							<div class="user-rating">
								<span class="heading">User Rating</span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
								<p class="rating-report">3.1 average based on 200 reviews.</p>
							</div>
						</div>
					</div>

				</a>
				<a href="./profile.html" class="remove-link-style">

					<div class="business-card box-effect">
						<div class="business-logo">
							<img class="bus-logo" src="https://via.placeholder.com/80x80" alt="logo" />
						</div>
						<div class="business-body">
							<span class="business-name">Business Name</span><br>
							<div class="user-rating">
								<span class="heading">User Rating</span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
								<p class="rating-report">3.1 average based on 200 reviews.</p>
							</div>
						</div>
					</div>

				</a>
				<a href="./profile.html" class="remove-link-style">

					<div class="business-card box-effect">
						<div class="business-logo">
							<img class="bus-logo" src="https://via.placeholder.com/80x80" alt="logo" />
						</div>
						<div class="business-body">
							<span class="business-name">Business Name</span><br>
							<div class="user-rating">
								<span class="heading">User Rating</span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
								<p class="rating-report">3.1 average based on 200 reviews.</p>
							</div>
						</div>
					</div>

				</a>
				<a href="./profile.html" class="remove-link-style">

					<div class="business-card box-effect">
						<div class="business-logo">
							<img class="bus-logo" src="https://via.placeholder.com/80x80" alt="logo" />
						</div>
						<div class="business-body">
							<span class="business-name">Business Name</span><br>
							<div class="user-rating">
								<span class="heading">User Rating</span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
								<p class="rating-report">3.1 average based on 200 reviews.</p>
							</div>
						</div>
					</div>

				</a>
				<a href="./profile.html" class="remove-link-style">

					<div class="business-card box-effect">
						<div class="business-logo">
							<img class="bus-logo" src="https://via.placeholder.com/80x80" alt="logo" />
						</div>
						<div class="business-body">
							<span class="business-name">Business Name</span><br>
							<div class="user-rating">
								<span class="heading">User Rating</span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
								<p class="rating-report">3.1 average based on 200 reviews.</p>
							</div>
						</div>
					</div>

				</a>
				<a href="./profile.html" class="remove-link-style">

					<div class="business-card box-effect">
						<div class="business-logo">
							<img class="bus-logo" src="https://via.placeholder.com/80x80" alt="logo" />
						</div>
						<div class="business-body">
							<span class="business-name">Business Name</span><br>
							<div class="user-rating">
								<span class="heading">User Rating</span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
								<p class="rating-report">3.1 average based on 200 reviews.</p>
							</div>
						</div>
					</div>

				</a>

				<a href="./profile.html" class="remove-link-style">

					<div class="business-card box-effect">
						<div class="business-logo">
							<img class="bus-logo" src="https://via.placeholder.com/80x80" alt="logo" />
						</div>
						<div class="business-body">
							<span class="business-name">Business Name</span><br>
							<div class="user-rating">
								<span class="heading">User Rating</span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
								<p class="rating-report">2.1 average based on 564 reviews.</p>
							</div>
						</div>
					</div>

				</a>

				<a href="./profile.html" class="remove-link-style">

					<div class="business-card box-effect">
						<div class="business-logo">
							<img class="bus-logo" src="https://via.placeholder.com/80x80" alt="logo" />
						</div>
						<div class="business-body">
							<span class="business-name">Business Name</span><br>
							<div class="user-rating">
								<span class="heading">User Rating</span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star"></span>
								<p class="rating-report">4.1 average based on 254 reviews.</p>
							</div>
						</div>
					</div>

				</a>

				<a href="./profile.html" class="remove-link-style">

					<div class="business-card box-effect">
						<div class="business-logo">
							<img class="bus-logo" src="https://via.placeholder.com/80x80" alt="logo" />
						</div>

						<div class="business-body">
							<span class="business-name">Business Name</span><br>
							<div class="user-rating">
								<span class="heading">User Rating</span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<p class="rating-report">5.0 average based on 70 reviews.</p>
							</div>
						</div>
					</div>

				</a>

				<a href="./profile.html" class="remove-link-style">

					<div class="business-card box-effect">
						<div class="business-logo">
							<img class="bus-logo" src="https://via.placeholder.com/80x80" alt="logo" />
						</div>
						<div class="business-body">
							<span class="business-name">Business Name</span><br>
							<div class="user-rating">
								<span class="heading">User Rating</span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star"></span>
								<p class="rating-report">4.1 average based on 500 reviews.</p>
							</div>
						</div>
					</div>

				</a>

				<a href="./profile.html" class="remove-link-style">

					<div class="business-card box-effect">
						<div class="business-logo">
							<img class="bus-logo" src="https://via.placeholder.com/80x80" alt="logo" />
						</div>
						<div class="business-body">
							<span class="business-name">Business Name</span><br>
							<div class="user-rating">
								<span class="heading">User Rating</span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
								<p class="rating-report">1.1 average based on 20 reviews.</p>
							</div>
						</div>
					</div>

				</a>

				<a href="./profile.html" class="remove-link-style">

					<div class="remove-link-style business-card box-effect">
						<div class="business-logo">
							<img class="bus-logo" src="https://via.placeholder.com/80x80" alt="logo" />
						</div>
						<div class="business-body">
							<span class="business-name">Business Name</span><br>
							<div class="user-rating">
								<span class="heading">User Rating</span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star"></span>
								<p class="rating-report">4.1 average based on 254 reviews.</p>
							</div>
						</div>
					</div>

				</a>

			</div>
		</div>
	</section>


	<!-- Footer -->
	<footer class="bg-dark navbar-dark">
		<div class="container-fluid text-center">
			WEconnect &copy; 2018.
		</div>
	</footer>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</script>
</body>

</html>
